[user]
  email = me@tugrulates.com
  name = Tugrul Ates
[alias]
  lg = log --graph --oneline --all --decorate
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[core]
  editor = code --wait
[credential]
  helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager.exe
[gui]
  encoding = utf-8
