browser { background-color: rgb(42, 42, 46) !important; }

.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged] {
  background-position: center bottom !important;
  background-size: 4px !important;
}

.tabbrowser-tab .tab-close-button {
  visibility: hidden !important
}

.tabbrowser-tab:hover .tab-close-button {
  visibility: visible !important
}
